body {
  margin: 0;
}

.flex-row {
  display: flex;
}

.nav-bar,
.main {
  text-align: center;
}

.nav-bar {
  background-color:#FFEDD9;
  border-right: 1px solid #333333;
  color: #333333;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
border-right: 1px solid #333333;
}

.nav-bar h1{
  font-size: large;
  display: flex;
  align-items: center;
  border-right: solid 1px #333333;
  padding-right: 30px;
}

.title h1{
  text-align:center; 
}


.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Caveat', cursive;

}

img {
  height: 200px;
  border: bisque 1px solid;
  border-radius: 15px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
}

.book-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  width: 250px;
  padding: 10px;
  margin: 10px;
  border: rgb(53, 41, 41) 3px solid;
  border-radius: 15px;
  box-shadow: 10px 10px 5px darkgrey;

  color: bisque;
}

#green {
  background-color: rgb(58, 69, 49);
}

#green:hover {
  background-color:rgb(69, 96, 67)
}


#red {
  background-color: rgb(101, 48, 48);
}

#red:hover {
  background-color: rgb(135, 65, 65);
}

#blue {
  background-color: rgb(46, 47, 87);
}

#blue:hover {
  background-color: rgb(67, 68, 126);
}

#brown {
  background-color: rgb(82, 59, 44);
}

#brown:hover {
  background-color: rgb(121, 88, 65);
}

#teal {
  background-color: rgb(50, 87, 86);
}

#teal:hover {
  background-color: rgb(75, 130, 128);
}

#purple {
  background-color: rgb(59, 42, 70);
}

#purple:hover {
  background-color: rgb(92, 66, 109);
}

#gray {
  background-color: rgb(118, 118, 118);
}

#gray:hover {
  background-color: rgb(173, 173, 173);
}

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

