body {
  margin: 0;
}

.flex-row {
  display: flex;
}

.nav-bar,
.main {
  text-align: center;
}

.nav-bar {
  background-color:#FFEDD9;
  border-right: 1px solid #333333;
  color: #333333;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
border-right: 1px solid #333333;
}

.nav-bar h1{
  font-size: large;
  display: flex;
  align-items: center;
  border-right: solid 1px #333333;
  padding-right: 30px;
}

.title h1{
  text-align:center; 
}

