body {
  margin: 0;
}

.flex-row {
  display: flex;
}

.nav-bar,
.main {
  text-align: center;
}

.nav-bar {
  opacity: 90%;
  border-right: 1px solid #333333;
  height: 100%;
  color: #333333;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-right: 1px solid #333333;
  padding-left:50px;
  margin: 30px 0;
}

.nav-bar:hover {
  opacity: 90%;
  border-right: 1px solid #333333;
  height: 100%;
  color: #888888;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-right: 1px solid #333333;
  padding-left:50px;
}

.nav-bar h1{
  font-size: 20px;
  color: black;
  font-weight: 100px;
  margin-right: 50px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  border-right: solid 1px #333333;
  padding-right: 73px;
}

.nav-bar h1:hover{
  font-size: 20px;
  color: #888888;
  font-weight: 100px;
  margin-right: 50px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  border-right: solid 1px #333333;
  padding-right: 73px;
}

h2{
  margin-top: 35px;
  margin-right: 30%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  
}

.home-bar {
  opacity: 90%;
  height: 100%;
  color: #333333;
  width: 100vw;
  display: flex;
  flex-direction: row-reverse;
  align-items: right;
  margin-right: 20px;
  margin-bottom: 20px;
}

.home-bar h1{
  font-size: 15px;
  color: black;
  font-weight: 100px;
  margin-right: 70px;
  display: flex;
  align-items: center;
}

.home-bar h1:hover{
  font-size: 15px;
  color: #888888;
  font-weight: 100px;
  margin-right: 70px;
  display: flex;
  align-items: center;
}

.App-header h1{
  margin: 25px 20px;
}

.banner {
  background-color:white;
  color: #333333;
  width: 150vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.App-header {
  background-color: ;
  min-height: 90vh;
  display: flex;
  flex-direction: row;
  align-items:center;
  font-size: calc(10px + 2vmin);
  color: black;
  font-family: 'Caveat', cursive;

}

.App-header img{
  max-height: 90%;
  height: 90%;
  width: 90%;
  max-width: 90%;
  display: flex;
  margin-left: 9%;
  margin-top: -80px;
  border: black 1px solid;
  box-shadow: 10px 10px 5px darkgrey;
}

img {
  height: 100px;
  border: white 1px solid;
  border-radius: 15px;
}

#book-img{
  max-height: 680px;
  height: 680px;
  max-width: 100%;
  width: 100%;
  display: flex;
  margin-left: 20%;
  margin-top: -78px;
  border: black 1px solid;
  box-shadow: 10px 10px 5px darkgrey;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
}

.book-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  padding: 10px;
  margin: 20px;
  border: rgb(53, 41, 41) 1px solid;
  border-radius: 15px;
  box-shadow: 10px 10px 5px darkgrey;
}

.book-card:hover {
  background-color: rgb(235, 226, 214);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 260px;
  padding: 10px;
  border: none;
  margin: 10px;
  box-shadow: 10px 10px 5px darkgrey;
}

.book-card img{
  height: 200px;
  border: white 1px solid;
  border-radius: 15px;
}

.book-card h1{
  color: #131A26;
}

.book-card p{
  color: #131A26;
}

#white {
  background-color: rgb(58, 69, 49);
}

#White:hover {
  background-color:rgb(19, 22, 18)
}

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}


:root {
  --primary:#A84FFF;
  --secondary: #D81E5B;
  --dark: #131A26;
  --light: #EEEEEE;
  --grey: #888888;

  --font: 'Fira Sans', san-serif;
  --font-quote:
}

.quote{
  position: relative;
  
}

blockquote{
  font-family: var(--font-quote);
  max-width: 720px;
  font-size: 2rem;
  background-color: var(--dark);
  padding: 3rem;
  border-radius: 1.5rem;
  color: white;
  box-shadow: 10px 10px 5px darkgrey;
}

.anime, .character{
  display: inline-block;
  padding: 0.75rem 1.5rem;
  color: var (--light);
  border-radius: 1.5rem;
  font-weight: 700;
  font-size: 1.4rem;
  letter-spacing: 1px;
  max-width: 360px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  

}

.anime{
  background-color:yellow;
  font-weight: 400;
  transform: translate(-25%, 50%);
  box-shadow: 10px 10px 5px darkgrey;
}

.character{
  background-color:royalblue;
  font-weight: 700;
  transform: translate(25%, 50%);
  position: absolute;
  right: 0;
  bottom: 0;
  box-shadow: 10px 10px 5px darkgrey;
}

button{
  appearance: none;
  border: none;
  outline:none;
  background-color:grey;
  color: #fff;
  padding:0.75rem 1.5rem;
  border-radius: 3rem ;
  margin-top: 64px;
  margin-bottom: 64px;
  transform: 0.4s;
  cursor:pointer;
  font-weight: 700;
  box-shadow: 10px 10px 5px darkgrey;
}

  button:hover{
    background-color:rgb(235, 226, 214);
    color: black;
}

.quote-box{
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  
}

.home-name{
  display: flex;
  flex-direction: row;
  box-shadow: 10px 10px 5px darkgrey;
}